@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins");



.dashboard-block {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 32px;
    
    column-gap: 0px;
    row-gap: 0px;
    .dashboard {
      width: 416px;
      height: 180px;

      box-sizing: border-box;
      margin-right: 32px;
      background: #ffffff;
      border: 1px solid #b5b5b7;
      border-radius: 12px;
      .upper-sec {
        cursor: pointer;
        width: 286px;
        height: 31px;
        margin-bottom: 14px;
        padding-top: 24px;
        padding-left: 24px;
        font-family: "Google Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        align-self: stretch;
        color: #000000;
      }
      .lower-sec {
        margin-left: 24px;
        width: 366px;
        height: 87px;
        .moderate {
          float: left;
          margin-right: 15px;
          width: 96.77px;
          height: 23px;

          background: rgba(255, 186, 95, 0.1);
          border-radius: 5px;
          margin-bottom: 32px;
          img {
            width: 7px;
            height: 7px;
            margin: 8px;
            float: left;
          }

          .text {
            width: 65px;
            height: 15px;
            float: right;
            font-family: "Google Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;

            color: #f99e24;
            margin-top: 4px;
            margin-right: 8px;
          }
        }
        .ongoing {
          float: left;
          width: 99.77px;
          height: 23px;

          background: rgba(151, 71, 255, 0.1);
          border-radius: 5px;
          img {
            width: 7px;
            height: 7px;
            margin: 8px;
            float: left;
          }

          .text {
            width: 65px;
            height: 15px;
            float: right;
            font-family: "Google Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;

            color: #9747ff;
            margin-top: 4px;
            margin-right: 8px;
          }
        }

        .date-box {
          width: 366px;
          height: 40px;
          display: inline-block;
          img {
            float: left;
            width: 24px;
            height: 24px;
            margin-right: 6px;
          }
          .date {
            width: 77px;
            height: 21px;
            float: left;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            margin-right: 140px;
            color: #79747e;
          }
          .profile {
            float: right;
            img {
              width: 112px;
              height: 34px;
            }
          }
        }
      }
    }
    .with-proj-name {
      width: 416px;
      height: 211px;
      margin-bottom: 32px;
      box-sizing: border-box;
      margin-right: 32px;
      background: #ffffff;
      border: 1px solid #b5b5b7;
      border-radius: 12px;
      .upper-sec {
        width: 368px;
        height: 62px;
        margin-bottom: 14px;
        padding-top: 24px;
        padding-left: 24px;
        font-family: "Google Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        align-self: stretch;
        color: #000000;
      }
      .lower-sec {
        margin-left: 24px;
        width: 380px;
        height: 87px;
        .moderate {
          float: left;
          margin-right: 15px;
          width: 96.77px;
          height: 23px;

          background: rgba(255, 186, 95, 0.1);
          border-radius: 5px;
          margin-bottom: 32px;
          img {
            width: 7px;
            height: 7px;
            margin: 8px;
            float: left;
          }

          .text {
            width: 65px;
            height: 15px;
            float: right;
            font-family: "Google Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;

            color: #f99e24;
            margin-top: 4px;
            margin-right: 8px;
          }
        }
        .ongoing {
          float: left;
          width: 99.77px;
          height: 23px;

          background: rgba(151, 71, 255, 0.1);
          border-radius: 5px;
          img {
            width: 7px;
            height: 7px;
            margin: 8px;
            float: left;
          }

          .text {
            width: 65px;
            height: 15px;
            float: right;
            font-family: "Google Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;

            color: #9747ff;
            margin-top: 4px;
            margin-right: 8px;
          }
        }

        .date-box {
          width: 380px;
          height: 40px;
          display: inline-block;
          img {
            float: left;
            width: 24px;
            height: 24px;
            margin-right: 6px;
          }
          .date {
            width: 77px;
            height: 21px;
            float: left;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            margin-right: 140px;
            color: #79747e;
          }
          .profile {
            float: right;
            img {
              width: 112px;
              height: 34px;
            }
          }
        }
      }
    }
  }
