@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins");
.container {
  width: auto;
  height: auto;
  display: inline-block;
  font-family: "Google Sans";
}
.container .sec-left {
  float: left;
  width: 483px;
  height: 112.42px;
  margin-left: 160px;
  margin-top: 385px;
}
.container .sec-left .group {
  display: inline-block;
  width: 483px;
  height: 70.43px;
}
.container .sec-left .group .logo {
  float: left;
  height: 70.43px;
  width: 70.43px;
  border-radius: 0px;
  margin-right: 31px;
}
.container .sec-left .group .iweb {
  float: right;
  height: 53px;
  width: 381px;
  border-radius: 0px;
}
.container .sec-left .group .iweb img {
  margin-top: 13px;
}
.container .sec-left .text-box {
  height: 23px;
  width: 379px;
  margin-left: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 18.054px;
  line-height: 23px;
  color: #000000;
}
.container .vertical {
  width: 0px;
  height: 280.5px;
  margin-left: 698px;
  margin-top: 295.5px;
  border: 1px solid rgba(181, 181, 183, 0.49);
}
.container .sec-right {
  float: left;
}
.container .sec-right .login-input {
  width: 483px;
  height: auto;
  margin-left: 768px;
  margin-top: -285px;
  padding: 0px;
  gap: 32px;
}
.container .sec-right .login-input .portal {
  width: 472px;
  height: 74px;
  margin-bottom: 32px;
}
.container .sec-right .login-input .portal .heading {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  order: 0;
  letter-spacing: 1.25967px;
  color: #000000;
}
.container .sec-right .login-input .portal .enter {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.399407px;
  order: 1;
  color: #B58392;
}
.container .sec-right .login-input .email-id {
  box-sizing: border-box;
  margin-bottom: 32px;
  width: 483px;
  height: 73px;
  padding: 21.5px 24px;
  background: #FFFFFF;
  border: 1px solid #B5B5B7;
  border-radius: 8px;
}
.container .sec-right .login-input .email-id input {
  font-family: "Poppins";
  width: 435px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  outline: none;
  border: none;
  color: #B5B5B7;
}
.container .sec-right .login-input .password {
  box-sizing: border-box;
  padding: 21.5px 24px;
  display: inline-block;
  width: 483px;
  height: 73px;
  background: #FFFFFF;
  border: 1px solid #B5B5B7;
  border-radius: 8px;
}
.container .sec-right .login-input .password input {
  width: 409px;
  height: 30px;
  float: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border: none;
  outline: none;
  color: #B5B5B7;
}
.container .sec-right .login-input .password input::-ms-reveal {
  display: none;
}
.container .sec-right .login-input .password img {
  float: right;
  cursor: pointer;
  margin-top: -28px;
}
.container .sec-right .login-input .login-button {
  margin-top: 54px;
}
.container .sec-right .login-input .login-button button {
  cursor: pointer;
  width: 482px;
  height: 73px;
  background: #FBB04D;
  border-radius: 12px;
  padding: 18.5px 208px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  border: none;
}/*# sourceMappingURL=index.css.map */